<!--Text for the sidebar -->

<div class="site-header">
    <div class="site-branding">
      <a  style = "float:left" {%if page.lang == "lt" %}href="/" {%else%} href="en" {%endif%} rel="home"><img id = "small_logo" src="images/Logo-white.svg" alt="Logo"></a>
        <h1 class="site-title" style = "float:left; padding-top:6px"><span class = "mobileHeader"><span id = "muzikosfestivalis">MUZIKOS FESTIVALIS</span> <span class = "font-weight-bold">DRUSKOMANIJA</span> </span></h1>

    </div><!-- .site-branding -->

    <div class="hamburger-menu">
        <div class="menu-icon">
            <img src="images/Hamburger.svg" alt="menu icon">

        </div><!-- .menu-icon -->

        <div class="menu-close-icon">
            <img src="images/x.svg" alt="menu close icon">
        </div><!-- .menu-close-icon -->
    </div><!-- .hamburger-menu -->
</div><!-- .site-header -->
</div>
