<!--Text for the sidebar -->

<div class="site-header">
    <div class="site-branding">
        <h1 class="site-title" style = "float:left"><a href="index.html" rel="home"><img id = "small_logo" src="images/logo_pilnas.png" alt="Logo"></a><span class = "mobileHeader"><span id = "muzikosfestivalis">MUZIKOS FESTIVALIS</span> <span class = "font-weight-bold">DRUSKOMANIJA</span> </span></h1>

    </div><!-- .site-branding -->

    <div class="hamburger-menu">
        <div class="menu-icon">
            <img src="images/menu-icon.png" alt="menu icon">

        </div><!-- .menu-icon -->

        <div class="menu-close-icon">
            <img src="images/x.png" alt="menu close icon">
        </div><!-- .menu-close-icon -->
    </div><!-- .hamburger-menu -->
</div><!-- .site-header -->
</div>
